<h1>Sides#index</h1>
<p>slide list</p>

<table>
<tr>
<th>-</th>
<th>ID</th>
<th>Title</th>
<th>URL</th>
<th>Status</th>
<th>Language</th>
</tr>
<% @slides.each do |s| %>
<tr>
<th> <%= link_to '修正/削除' ,edit_slide_info_path(:ID=>s.ID,:requestid=>s.requestid), :method => :get %> </th>
<th> <%= s.ID %></th>
<th> <%= s.language %></th>
<th> <%= s.Title %></th>
<th> <%= s.URL %></th>
<th> <%= s.Status %></th>
</tr>
<% end %>
</table>

<br />

<%= link_to 'new request', new_search_path %>
