<h1>Home#show</h1>
<p>search slide queue</p>

<table>
<tr>
<th>requestid</th>
<th>query</th>
<th>lang</th>
<th>state</th>
<th>request_date</th>
<th>last_update_date</th>
</tr>
<% @req.each do |req| %>
<tr>
<th> <%= req.requestid %> </th>
<th> <%= req.q %> </th>
<th> <%= req.lang %> </th>
<th> <%= req.state %> </th>
<th> <%= req.request_date %> </th>
<th> <%= req.last_update_date %> </th>
</tr>
<% end %>
</table>

<br />

<%= link_to 'new request', new_search_path %>
